.DS_Store
.vscode
.idea

# TinyC project:
tinyc/

# project:
build/

# Latex specific
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
_minted-ctufit-thesis/
_minted-thesis
*.out
*.ps
*.run.xml
*.synctex.gz
*.toc
pdfa.xmpi

# for now
.gitlab-ci.yml 