.DS_Store
.vscode
.idea

cmake-build-debug/
*.cmake
CMakeCache.txt
*.a


# TinyC project:
tinyc/

# project:
build/
lima-build/
cmake-build-debug/
_deps
CMakeFiles

# Latex specific
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lua
creationdate.timestamp
*.lot
_minted-ctufit-thesis/
_minted-thesis
*.out
*.ps
*.run.xml
*.synctex.gz
*.toc
pdfa.xmpi
_minted

# for now
.gitlab-ci.yml 

# doxygen
project/docs/html
project/docs/latex